// Variables
$verde: #19d219;
$verde-linea: #158815;
$gris-oscuro: #141414;
$gris-borde-input: #626262;

//===================================== General stuff
*{
	box-sizing: border-box;
	font-family: Courier New, Courier, monospace;
	font-size: 13px;
	color: white;
	background-color: $gris-oscuro;
}
body{
	// background-color: black;
	padding: 20px 50px;
}
h3{
	font-size: 16px;
	font-weight: normal;
	color: $verde;
}

//===================================== Header
h1.title{
	// color: $verde;
	// font-weight: normal;
    // font-size: 20px;
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid $verde-linea;
	margin-bottom: 30px;
	margin-top: 0;
	span{
		color: white;
		font-size: 25px;
		font-family: Courier New, Courier, monospace;
	}
	img.logo{
		width: 36px;
		position: relative;
		top: -6px;
		left: 16px;
		background-color: transparent;
	}
}

//=================================== login-box
div#login_box{
	@extend div#user_box;
	right: 200px;
}

//==================================== create PRODUCT
div#create_product_box{
	@extend .create_user_box;
}

//==================================== create-user CUSTOM [mío]
div.create_user_box{
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid $gris-borde-input;
	background-color: #1a1a1a;
	*{
		background-color: #1a1a1a;
	}
	select{
		width: 100%;
		@extend input[type="text"];
	}
	// position: absolute;
	// right: 0;
	// top: 0;
}

//==================================== User-box
div#user_box{
	width: 200px;
	padding: 20px;
	border: 1px solid $gris-borde-input;
	position: absolute;
	top: 0;
	right: 0;

	span{
		font-size: 12px;
		color: yellow;
	}
}

//===================================== Section uno
section.uno{
	padding: 0 20px;
	padding-left: 0;
	width: 250px;
	border-right: 1px solid $gris-borde-input;
}

#mensaje_error li, #mensaje_error_login li, #mensaje_error_create_users li{
	color: red;
}
input[type="text"]{
	display: block;
	min-height: 30px;
	width: 100%;
	padding: 0 10px;
	margin-bottom: 10px;
	border: 1px solid $gris-borde-input;
}
button{
	//color: $verde;
	border: 1px solid $verde;
	width: 100%;
	padding: 15px 0;
	margin-top: 10px;
}
label{
	display: block;
	margin-bottom: 5px;
}



//===================================== LogIn [ACCOUNTS-PASSWORD]
//-------------------------- Lo quité
// div#login-buttons{
// 	font-size: 12px;
// 	position: absolute;
// 	right: 0;
// 	top:0;
// }
// div.accounts-dialog{
// 	background-color: $gris-oscuro;
// 	padding: 20px;
// 	border: 1px solid $verde-linea;
	
// 	input[type="email"],input[type="password"]{
// 		@extend input[type="text"];
// 	}
// 	a, .login-button, .additional-link-container{
// 		cursor: pointer;
// 		margin: 5px 0;
// 	}
// 	a.login-close-text{
// 		color: $verde;
// 		display: block;
// 		margin-bottom: 20px;
// 	}
// 	// this is the one!
// 	.login-button{
// 		text-align: center;
// 		padding: 20px;
// 		background-color: $verde-linea;
// 		border: 1px solid $verde-linea;
// 	}
// }
// .login-link-text{ cursor:pointer; }