// Variables
$verde: #19d219;
$gris-oscuro: #141414;
$gris-borde-input: #626262;

*{
	box-sizing: border-box;
	font-family: monospace;
	color: white;
	background-color: $gris-oscuro;
}
body{
	// background-color: black;
	padding: 20px 50px;
}
h1.title{
	color: $verde;
	font-weight: normal;
    font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $verde;
	margin-bottom: 30px;
	img.logo{
		width: 45px;
		position: relative;
		top: 3px;
		left: 12px;
	}
}
input[type="text"]{
	display: block;
	margin-bottom: 10px;
	border: 1px solid $gris-borde-input;
}
label{
	display: block;
	margin-bottom: 5px;
}
